---
---

@import url("https://fonts.googleapis.com/css?family=Comfortaa:400,700,Fira+Mono");

$easing: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$dark-grey: #282c34;
$white: #bbc5cb;
$primary-color: #cd5c63;
$secondary-color: #8ebf67;
$tertiary-color: #c1895a;
$twitter-color: #38a1f3;
$github-color: #333;
$linkedin-color: #0077b5;

/*
    Scaffolding
*/
* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Comfortaa";
  line-height: 1.75;
  color: $white;
  background: $dark-grey;
  overflow-x: hidden;
}

h1,
h2,
a,
.post-title {
  color: $primary-color;
}

a {
  text-decoration: none;
  transition: color 350ms $easing;

  &:hover {
    color: lighten($tertiary-color, 10%);
  }
}

h1 {
  font-size: 3em;
  margin-bottom: 1em;
  line-height: 1.5em;
}

h2 {
  font-size: 1.75em;
  margin: 1em 0 0.4em 0;
}

p {
  margin-bottom: 1em;
  line-height: 1.8em;
}

.page-content {
  width: 80%;
  max-width: 980px;
  margin: 0 auto;
}

pre {
  box-sizing: border-box;
  background: darken($dark-grey, 5%);
  padding: 1.5em;
  margin: 2em 0;
  border-radius: 1em;
}

code {
  font-family: "Fira Mono", Consolas, sans-serif;
}

.hljs {
  background: transparent !important;
}

/*
    Header
*/

.page-header {
  padding: 2em;
  margin-bottom: 3em;

  h1 {
    color: lighten($dark-grey, 10%);
    font-size: 1.5em;

    span {
      color: $secondary-color;
    }
  }
}

/*
    Content
*/

.post-list {
  list-style: none;
  margin: 0;
  border-left: 1px solid lighten($dark-grey, 10%);

  li {
    margin-left: -1px;
    padding: 1.2em 1.2em 0.5em 1.2em;
    border-left: 1px solid lighten($dark-grey, 30%);
    margin-top: 3em;

    h2 {
      padding-bottom: 0.5em;
      margin: 0;
    }

    .post-date {
      font-size: 0.8em;
    }
  }
}

.post-meta {
  margin-top: -2em;
  margin-bottom: 3em;
}

/*
    Footer
*/

.page-footer {
  border-top: 1px solid lighten($dark-grey, 5%);
  margin: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  margin-top: 3em;

  .rss {
    display: block;
    padding-top: 3em;
  }

  .social {
    display: flex;
    justify-content: center;
    font-size: 2em;

    a {
      margin: 0 0.5em;

      &.twitter {
        color: $twitter-color;
        &:hover {
          color: lighten($twitter-color, 10%);
        }
      }

      &.github {
        color: $white;
        &:hover {
          color: lighten($white, 10%);
        }
      }

      &.linkedin {
        color: $linkedin-color;
        &:hover {
          color: lighten($linkedin-color, 10%);
        }
      }

      &.devto {
        color: $white;
        &:hover {
          color: lighten($white, 10%);
        }
      }
    }
  }

  p small {
    display: block;
    color: lighten($dark-grey, 10%);
  }
}
